<html>
    <head>
        <%- include('partials/header1.ejs')%>
        <link rel="stylesheet" href="/public/css/members-styles.css">
    </head>
    <body>
        <div class="members-container">
            <h2 class="members-title">Members Only Page</h2>
            <%- include('partials/navbar2.ejs')%>
            <div class="members-content">
                <p class="welcome-message">Welcome to the Members Only page. You are now logged in.</p>
                <p class="members-message">please click add review above to add a review</p>
            </div>
        </div>
    </body>
</html>